*{
    padding: 0;
    margin: 0;
}
*, 
*::after,*::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
  max-width: containerWidth(1400, 115, 20);
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
}